Executable = "sw-mgr";
InputSandbox = {"@SCRIPTPATH@/sw-mgr","@SCRIPTPATH@/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-C -l $VO_ATLAS_SW_DIR/software/@RELNAME@ -p $VO_ATLAS_SW_DIR/dev/releases/@VERSIONAREA@ @LOGLINK@ --remove-tags --host @TAGHOST@ --subcluster @SCNAME@ --grid-name @GRIDNAME@ --vo atlas --tags @RELTAG@ --xml install.xml --site-config $VO_ATLAS_SW_DIR/AtlasSiteConfig.sh --dump-tags $VO_ATLAS_SW_DIR/tags --clean-links";
Environment = {"LCG_CATALOG_TYPE=@LCGCATALOGTYPE@","LFC_HOST=@LFCHOST@"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
