{
    "JobDef": {
        "Executable": "http://atlpan.web.cern.ch/atlpan/install/sw-mgr",
        "Arguments": "-i @RELNAME@ -l @LOGICALPATH@/latest,@OSGLOGICALPATH@/latest -p @OSGPHYSICALPATH@/@VERSIONAREA@ -o --validate --grid-name @GRIDNAME@ --require-shfs --no-tag -P @SWNAME@ -T ext -t @ARCH@ -O opt -m @PACMANVERSION@ --xml install.xml --stagein http://atlpan.web.cern.ch/atlpan/install/metadata.xml,http://atlpan.web.cern.ch/atlpan/install/dq2tools.validate --no-version --validation-exe dq2tools.validate --site-config $OSG_APP/atlas_app/atlas_rel/AtlasSiteConfig.sh @KITCACHE@ --",
        "Site": "@SITE_CS@"
    },
    "ResDef": {
        "resource_type": "@INFOSYS_SITETYPE@",
        "lfcprodpath": "@INFOSYS_LFCPRODPATH@",
        "seprodpath": "@INFOSYS_SEPRODPATH@"
    }
}
