Executable = "sw-mgr";
InputSandbox = {"@SCRIPTPATH@/sw-mgr","@SCRIPTPATH@/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-i @RELNAME@ -l @LOGICALPATH@/@RELNAME@ -p @PHYSICALPATH@/@VERSIONAREA@ -o --host @TAGHOST@ --subcluster @SCNAME@ --grid-name @GRIDNAME@ --add-tags --tags @RELTAG@ -P @SWNAME@ -T @RELCATEGORY@ -t @ARCH@ -O opt --require-prj @REQUIREDPRJ@ -m @PACMANVERSION@ --xml install.xml --site-config $VO_ATLAS_SW_DIR/AtlasSiteConfig.sh @KITCACHE@";
Environment = {"LCG_CATALOG_TYPE=@LCGCATALOGTYPE@","LFC_HOST=@LFCHOST@"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
