Executable = "sw-mgr";
InputSandbox = {"@SCRIPTPATH@/sw-mgr","@SCRIPTPATH@/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-r @RELNAME@ -l @LOGICALPATH@/@RELNAME@ -p @PHYSICALPATH@/@VERSIONAREA@ -o -n -P @SWNAME@ -T @RELCATEGORY@ -t @ARCH@ -O opt --require-prj @REQUIREDPRJ@ -m @PACMANVERSION@ --grid-name @GRIDNAME@ --xml install.xml --site-config $VO_ATLAS_SW_DIR/AtlasSiteConfig.sh --clean-links @EXTRAPKG@";
Environment = {"LCG_CATALOG_TYPE=@LCGCATALOGTYPE@","LFC_HOST=@LFCHOST@"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
