Executable = "sw-mgr";
InputSandbox = {"@SCRIPTPATH@/sw-mgr"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-r @RELNAME@ -p @PHYSICALPATH@ --host @TAGHOST@ --subcluster @SCNAME@ --grid-name @GRIDNAME@ --vo atlas --require-shfs --remove-tags --tags @RELTAG@ -P @SWNAME@ -T ext -t @ARCH@ -O opt -m @PACMANVERSION@ --xml install.xml --site-config $VO_ATLAS_SW_DIR/AtlasSiteConfig.sh --dump-tags $VO_ATLAS_SW_DIR/tags --post-siteinfo";
Environment = {"LCG_CATALOG_TYPE=@LCGCATALOGTYPE@","LFC_HOST=@LFCHOST@"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
