Executable = "fake-install";
InputSandbox = {"@SCRIPTPATH@/fake-install"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "fake-install --cleanup @RELEASE@ --path @PHYSICALPATH@";
Environment = {"LFC_HOST=@LFC_HOST@"};
VirtualOrganisation = "@VO@";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
