Executable = "/bin/hostname";
OutputSandbox = {"stdout","stderr"};
stdoutput = "stdout";
stderror = "stderr";
VirtualOrganisation = "@VO@";
Requirements = ((other.GlueCEPolicyMaxCPUTime > 1000 || other.GlueCEPolicyMaxCPUTime == 0) && (other.GlueHostMainMemoryRAMSize >= 1000) && !Member("@RELTAG@",other.GlueHostApplicationSoftwareRunTimeEnvironment) && Member("VO-@VO@-tier-T2",other.GlueHostApplicationSoftwareRunTimeEnvironment));
