{
    "JobDef": {
        "Executable": "http://atlpan.web.cern.ch/atlpan/install/sw-mgr",
        "Arguments": "-i @RELNAME@ -l @LOGICALPATH@/@RELMAIN@,@OSGLOGICALPATH@/@RELMAIN@ -p @OSGPHYSICALPATH@/@VERSIONAREA@ @OSGLOGLINK@ -o --validate --grid-name @GRIDNAME@ --site-type @INFOSYS_SITETYPE@ --require-shfs --no-tag -P @SWNAME@ --require-prj @REQUIREDPRJ@ -T patch -t @ARCH@ -O opt -m @PACMANVERSION@ --xml install.xml --stagein http://atlpan.web.cern.ch/atlpan/install/metadata.xml --site-config $OSG_APP/atlas_app/atlas_rel/AtlasSiteConfig.sh @KVPOST@ @KITCACHE@ @DBRELEASE@ @ATLASCOMPILER@ --",
        "Site": "@SITE_CS@"
    },
    "ResDef": {
        "resource_type": "@INFOSYS_SITETYPE@",
        "lfcprodpath": "@INFOSYS_LFCPRODPATH@",
        "seprodpath": "@INFOSYS_SEPRODPATH@"
    }
}
