{
    "JobDef": {
        "Executable": "http://atlpan.web.cern.ch/atlpan/install/sw-mgr",
        "Arguments": "--test @RELNAME@ -l @LOGICALPATH@/@RELNAME@ -p @PHYSICALPATH@/@VERSIONAREA@ -P @SWNAME@ -T release -t @ARCH@ -O opt --host @SITE_CENAME@ -m @PACMANVERSION@ --xml install.xml --site-config $VO_ATLAS_SW_DIR/AtlasSiteConfig.sh --stagein http://atlpan.web.cern.ch/atlpan/install/metadata.xml --post-siteinfo --post-siteurl @LJSFSERVER@/exec/updinfo.php @KVPOST@ @DBRELEASE@ --",
        "Site": "@SITE_CS@"
    },
    "ResDef": {
        "resource_type": "@INFOSYS_SITETYPE@",
        "lfcprodpath": "@INFOSYS_LFCPRODPATH@",
        "seprodpath": "@INFOSYS_SEPRODPATH@"
    }
}
