{
    "JobDef": {
        "Executable": "http://atlpan.web.cern.ch/atlpan/install/sw-mgr",
        "Arguments": "-i @RELNAME@ --validate -p @PHYSICALPATH@ -o --grid-name @GRIDNAME@ --require-shfs --no-tag --host @SITE_CENAME@ -P @SWNAME@ -T ext -t @ARCH@ -O opt -m @PACMANVERSION@ --xml install.xml --stagein http://atlpan.web.cern.ch/atlpan/install/metadata.xml --post-siteinfo --post-siteurl @LJSFSERVER@/exec/updinfo.php --site-config $VO_ATLAS_SW_DIR/AtlasSiteConfig.sh @KITCACHE@ --",
        "Site": "@SITE_CS@"
    },
    "ResDef": {
        "resource_type": "@INFOSYS_SITETYPE@",
        "lfcprodpath": "@INFOSYS_LFCPRODPATH@",
        "seprodpath": "@INFOSYS_SEPRODPATH@"
    }
}
