Executable = "check-site-nogbb.sh";
InputSandbox = {"SCRIPTPATH/check-site-nogbb.sh","SCRIPTPATH/gbb"};
OutputSandbox = {"CENAME-site-params.txt","stderr"};
stdoutput = "CENAME-site-params.txt";
stderror = "stderr";
VirtualOrganisation = "atlas";
MaxCPUTime=800;
Requirements = other.GlueCEUniqueId=="CEID";
