Executable = "gbb";
InputSandbox = {"SCRIPTPATH/check-site.sh","SCRIPTPATH/gbb"};
OutputSandbox = {"CENAME-site-params.txt","stderr"};
stdoutput = "CENAME-site-params.txt";
stderror = "stderr";
Arguments = "--timing -v -m 300 -p -D 600 -s GBB_SURL $PWD/check-site.sh";
VirtualOrganisation = "atlas";
MaxCPUTime=800;
Requirements = other.GlueCEUniqueId=="CEID";
