Executable = "sw-mgr";
InputSandbox = {"SCRIPTPATH/sw-mgr"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-C RELNAME -p PHYSPATH --host CENAME --subcluster SCNAME --vo atlas --remove-tags --grid-name GRIDNAME --tags RELTAG -P SWNAME -T ext -t ARCH -O opt -m PACMANVERSION --xml install.xml --dump-tags $VO_ATLAS_SW_DIR/tags --post-siteinfo";
Environment = {"LCG_CATALOG_TYPE=LCGCATALOGTYPE","LFC_HOST=LFCHOST"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="CEID";
