Executable = "sw-mgr";
InputSandbox = {"SCRIPTPATH/sw-mgr","SCRIPTPATH/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-i RELNAME -l LOGPATH -p PHYSPATH/VERSIONAREA -o --use-grid --grid-name GRIDNAME --replicate --release-ver REVISIONVER --host CENAME --subcluster SCNAME --add-tags --tags RELTAG --vo atlas --require-shfs --disk-free DISKSPACE -P SWNAME --require-prj REQPRJ -T analysis -t ARCH -O opt -m PACMANVERSION --xml install.xml KITCACHE DBREL COMPILEROPT";
Environment = {"LCG_CATALOG_TYPE=LCGCATALOGTYPE","LFC_HOST=LFCHOST"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="CEID";
