Executable = "sw-mgr";
InputSandbox = {"SCRIPTPATH/sw-mgr","SCRIPTPATH/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-M RELNAME --host CENAME --subcluster SCNAME --grid-name GRIDNAME --force-tags --add-tags --tags RELTAG --xml install.xml --dump-tags $VO_ATLAS_SW_DIR/tags";
Environment = {"LCG_CATALOG_TYPE=LCGCATALOGTYPE","LFC_HOST=LFCHOST"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="CEID";
