Executable = "sw-mgr";
InputSandbox = {"SCRIPTPATH/sw-mgr"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-M RELNAME -p PHYSPATH --host CENAME --subcluster SCNAME --vo atlas --grid-name GRIDNAME --remove-tags --tags RELTAG --xml install.xml --dump-tags $VO_ATLAS_SW_DIR/tags --post-siteinfo";
Environment = {"LCG_CATALOG_TYPE=LCGCATALOGTYPE","LFC_HOST=LFCHOST"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="CEID";
