Executable = "sw-mgr";
InputSandbox = {"SCRIPTPATH/sw-mgr","SCRIPTPATH/validate-ext.sh","SCRIPTPATH/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "--test RELNAME -l LOGPATH/latest -p PHYSPATH/VERSIONAREA -P SWNAME -T ext -t ARCH -O opt --host CENAME --subcluster SCNAME --vo atlas --tags RELTAG -m PACMANVERSION --validation-exe validate-ext.sh --xml install.xml";
Environment = {"LCG_CATALOG_TYPE=LCGCATALOGTYPE","LFC_HOST=LFCHOST"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="CEID";
