Executable = "sw-mgr";
InputSandbox = {"SCRIPTPATH/sw-mgr","SCRIPTPATH/validate-ext.sh","SCRIPTPATH/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-i RELNAME -l LOGPATH/latest -p PHYSPATH/VERSIONAREA -o --validate --use-grid --grid-name GRIDNAME --replicate --snapname PACKAGE --release-ver REVISIONVER --host CENAME --subcluster SCNAME --vo atlas --require-shfs --disk-free DISKSPACE --add-tags --tags RELTAG -P SWNAME -T ext -t ARCH -O opt -m PACMANVERSION --validation-exe validate-ext.sh --xml install.xml KITCACHE";
Environment = {"LCG_CATALOG_TYPE=LCGCATALOGTYPE","LFC_HOST=LFCHOST"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="CEID";
