Executable = "sw-mgr";
InputSandbox = {"@SCRIPTPATH@/sw-mgr"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-C @RELNAME@ -p @OSGPHYSICALPATH@ --host @TAGHOST@ --subcluster @SCNAME@ --vo atlas --remove-tags --grid-name @GRIDNAME@ --tags @RELTAG@ -P @SWNAME@ -T ext -t @ARCH@ -O opt -m @PACMANVERSION@ --xml install.xml --site-config $OSG_APP/atlas_app/atlas_rel/AtlasSiteConfig.sh --dump-tags $OSG_APP/atlas_app/atlas_rel/tags --post-siteinfo";
Environment = {"LCG_CATALOG_TYPE=@LCGCATALOGTYPE@","LFC_HOST=@LFCHOST@"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
