Executable = "sw-mgr";
InputSandbox = {"@SCRIPTPATH@/sw-mgr","@SCRIPTPATH@/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "-M @RELNAME@ --host @TAGHOST@ --subcluster @SCNAME@ --grid-name @GRIDNAME@ --force-tags --add-tags --tags @RELTAG@ --xml install.xml --dump-tags $OSG_APP/atlas_app/atlas_rel/tags";
Environment = {"LCG_CATALOG_TYPE=@LCGCATALOGTYPE@","LFC_HOST=@LFCHOST@"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
