Executable = "sw-mgr";
InputSandbox = {"@SCRIPTPATH@/sw-mgr","@SCRIPTPATH@/validate-ext.sh","@SCRIPTPATH@/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "--test @RELNAME@ -l @OSGLOGICALPATH@/latest -p @OSGPHYSICALPATH@/@VERSIONAREA@ -P @SWNAME@ -T ext -t @ARCH@ -O opt --host @TAGHOST@ --subcluster @SCNAME@ --vo atlas --grid-name @GRIDNAME@ --tags @RELTAG@ -m @PACMANVERSION@ --validation-exe validate-ext.sh --xml install.xml --site-config $OSG_APP/atlas_app/AtlasSiteConfig.sh";
Environment = {"LCG_CATALOG_TYPE=@LCGCATALOGTYPE@","LFC_HOST=@LFCHOST@"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
