Executable = "sw-mgr";
InputSandbox = {"@SCRIPTPATH@/sw-mgr","@SCRIPTPATH@/lcg-tags"};
OutputSandbox = {"stdout", "stderr", "install.xml"};
stdoutput = "stdout";
stderror = "stderr";
Arguments = "--test @RELNAME@ -l @OSGLOGICALPATH@/@RELNAME@ -p @OSGPHYSICALPATH@/@VERSIONAREA@ -P @SWNAME@ -T release -t @ARCH@ -O opt --host @TAGHOST@ --vo atlas --grid-name @GRIDNAME@ --no-tag -m @PACMANVERSION@ --xml install.xml --site-config $OSG_APP/atlas_app/AtlasSiteConfig.sh --post-siteinfo @KVPOST@ @DBRELEASE@";
Environment = {"LCG_CATALOG_TYPE=@LCGCATALOGTYPE@","LFC_HOST=@LFCHOST@"};
VirtualOrganisation = "atlas";
Requirements = other.GlueCEUniqueId=="@SITE_CS@";
